footer {
    font-size: .825rem;
}

/* wrap table headers */
@media (max-width: 767.98px) {
    .table-bordered td:first-child {
        background: #eff0f2;
    }

    .table-bordered td {
        display: block;
    }
}

/* remove double spacing in tables */
td > :last-child {
    margin: 0;
}
